<% content_for :app_controller do %>
  ng-app='app.geoflightsApp' ng-controller='ConnectionsCtrl' ng-init="init('<%= @route %>', '<%= @airport_id %>', '<%= @airport_name %>', '<%= @airport_latitude %>', '<%= @airport_longitude %>')"
<% end %>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas in canvas-slid navmenu-float">
    <ul class="nav navmenu-nav">
        <li><a href="#" ng-click="resetCamera()">Reset origin of camera</a></li>
        <li><a href="#" ng-click="resetZoom()">Reset Zoom</a></li>
    </ul>
</div>

<div class="col-md-12 status">
    <div>
        <h3>Selected Airport</h3>
        <p>{{ airport.name }}</p>
    </div>
</div>