<!DOCTYPE html>
<html>
<head>
    <title>Geoflights Lattke</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <!-- JQuery -->  
    <%= javascript_include_tag "jquery-1.11.2" %>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag "bootstrap" %>
    <!-- OpenLayers -->
    <%= stylesheet_link_tag "ol" %>
    <%= javascript_include_tag "ol" %>
    <!-- Main -->
    <%= stylesheet_link_tag "main_style" %>
    <!-- Fonts -->

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
    <script src='https://api.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js'></script>

    <%= csrf_meta_tags %>
</head>
<body <%= yield :app_controller %>>

    <div class="container-fluid">
        <h1>
            <%= image_tag("logo_tony.png", :alt => "rss feed", :id => "logo") %>
            Geoflights Lattke
        </h1>
        <div class="row-fluid">
            <div class="col-md-2">
                <div class="navmenu navmenu-default navmenu-fixed-left offcanvas in canvas-slid navmenu-float">
                    <ul class="nav navmenu-nav">
                        <li title="Select airports on the map and show information">
                            <a href="#" ng-click="selectAirport()">Select Airport</a>
                        </li>
                        <li title="Select countries and show available airlines on country">
                            <a href="#" ng-click="selectCountry()">Select Country</a>
                        </li>
                    </ul>
                </div>
                <%= yield %>
                <div class="col-md-12 coordinates">
                    <div>
                        <h3>Coordinates</h3>
                        <p>Longitude: {{current_coordinate.longitude}}</p>
                        <p>Latitude: {{current_coordinate.latitude}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-10 map-background">
                <div class="span">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
        
    </div>

    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                    <div class="col-lg-12 footer-credits">
                        Hochschule Bremen - Komplexe Softwaresyteme - <b><a href="http://tony.lattke.org" class="autor">Tony Enrique Lattke Urbaneja</a></b>
                    </div>
            </div>
        </div>
    </footer>
    
</body>
</html>
